

/* Google font - Dosis */
@import url(http://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* Dokumentegenskaper */
html {
	background:-webkit-radial-gradient(circle, #222222 0%, #000000 100%);
	background-image:url('img/bg_1280.jpg');
	height:auto;
	width:auto;
    font-family: 'Open Sans';
    color: #FFFFFF;
    padding-left: 30px;
    padding-top:10px;
    overflow-y: hidden; 
}

/* Textformatering */
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    margin-top:5px;
    margin-bottom:0px;
    padding-bottom:0px;
    color: #999999;
    font-weight:300;
}
h1 {
   display:none;
}
h2 {
    color: #DDDDDD;
    font-weight:300;
	display:none;
}
strong {
	font-weight:500;
}

.container {
	display:inline-block;
	float:left;
	overflow: hidden;
}

.container h2 {
	margin-bottom:30px;
}

.container-100 { width: 100%; }
.container-200 { width: 100%; }
.container-300 { width: 100%; }
.container-400 { width: 100%; }
.container-500 { width: 100%; }
.container-600 { width: 100%; }
.container-700 { width: 100%; }

.hidden { display: none; }

.box {
	float:left;
	display:inline-block;
	margin:0px;
	padding:0px;
	overflow:hidden;
}

.box-clean {
	margin-bottom:0px;
}

.box-clean h3 { margin:3px;}


.box h1,h2,h3,h4,h5 {
	margin:10px;
	font-weight:400px;
}

.box-w-100 {width:100%;}
.box-w-200 {width:100%;}
.box-w-300 {width:100%;}
.box-w-400 {width:100%;}
.box-w-500 {width:100%;}
.box-w-600 {width:100%;}
.box-w-700 {width:100%;}
.box-h-100 {height:100%;}
.box-h-200 {height:100%;}
.box-h-300 {height:100%;}
.box-h-400 {height:100%;}
.box-h-500 {height:100%;}

.box-w-80 {width:100%;}
.box-w-120 {width:100%;}

.right { text-align: right;}

.content {
	float:left;
	display:inline-block;
	margin:0px;
	margin-left:0px;
	margin-bottom:0px;	
	padding:0px;
	overflow:hidden;
}

.fg-green {
	color:rgba(0,128,0,1.0);
}
.fg-dark {
	color:rgba(96,96,96,1.0);
}
.fg-light {
	color:rgba(196,196,196,1.0);
}
.fg-light-green {
	color:rgba(128,255,128,1.0);
}
.fg-light-red {
	color:rgba(255,128,128,1.0);
}
.fg-light-blue {
	color:rgba(128,128,255,1.0);
}



/* Moduler (tagg <article>), en modul kan ha klass horizontal eller vertical och innehåller en eller flera sektioner */

/* Chart */
.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.y.axis path,
.x.axis path {
	stroke: #111;
}

.line0 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line1 {
  fill: none;
  stroke: #444444;
  stroke-width: 1.5px;
}

.axis text {
	font-size:10px;
	fill:rgba(96,96,96,1.0);
}

/* Ikoner */
.icon-temp-indicator {
	width:32px;
	height:32px;
	float:left;
	position:relative;
	margin:7px;
	background-size:32px 32px;
}

.float-right { float:right; }
.float-left { float:right; }

.has-switch {
	margin-top:5px;
}
